insider.aitigers.com {
    reverse_proxy insider-detector:8000
}

animations.aitigers.com {
    root * /srv
    file_server
    try_files {path} /animation-showcase.html
    encode gzip
    header Cache-Control "no-cache"
}

