insider.ai-tigers.com {
    reverse_proxy 127.0.0.1:8000
}

animations.ai-tigers.com {
    root * /srv/animations
    file_server
    try_files {path} /index.html
    encode gzip
    header Cache-Control "no-cache"
}

